# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.meld
meld_modules
/commands/launch
/build/lang/fb/bin/parse
/build/lang/cpp/bin/parse
/build/kebab-to-pascal
/build/resolve-version
/modules/local/*
!/modules/local/.gitkeep
/modules/global/*
!/modules/global/.gitkeep
